geptyro-io-app {
  width: 100%;
  height: 100%;
  display: block;

  >.background {
    background-color: #000;
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 0;
    height: 100%;
    width: 100%;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

    img {}
  }

  >.container {
    width: 100%;
    height: 100%;
    display: block;
  }

  &.ready {
    >.background {
      transition-duration: 0.5;
      opacity: 0;
      visibility: hidden;
    }
  }
}